@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

.navbar-brand {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 300;
    padding: 15px 15px;
}

.logo {
    height: 30px;
}

.table td {
    font-size: 14px;
    padding: 0.65rem 0.75rem;
}

textarea {
    resize: none;
}

#text-with-flags {
    height: 80px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #18BC9C;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #18BC9C;
    cursor: pointer;
  }

  table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}


/** 
Dark mode stuff here we gooo
**/

body{
    color: white ;
    background-color: #212529 ;
}

.card-body{
    border-radius: 25px;
    background-color: #222539;
}
th, .table-secondary > td {
    background-color: #629898 !important;
}
.table-hover .table-secondary:hover > td, .table-hover .table-secondary:hover > th {
    background-color: #829898;
}

.border-light {
    background-color: #212529;
    border-color: #212529 !important;
}